{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
{% block content %}
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<div class="container my-5">
<h1 class="text-center my-5" >{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

<p class="text-center" >{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
{% endif %}

<form class="text-center" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary" >{% trans "Continue" %}</button>
</form>
<h5>
  {% if user.is_authenticated %}
  <pclass="text-center my-4"></p>
  <P class="text-center my"> if want to signup with other account <a class="text-center my-5" href="{% url 'account_logout' %}" >logout</a> </P>
  {% else %}
  <P class="text-center my"> Sign up with already created account <a class="text-center my-5" href="{% url 'account_login' %}" >login</a> </P>
  <P class="text-center my"> Not having account signup <a class="text-center my-5" href="{% url 'account_signup' %}" >Sign Up</a> </P>  
  {% endif %}
</h5>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
{% endblock %}
